body{
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s ease;
}

body.dark-mode {
    background-color: black;
    color: white;
}

header{
    background-color: aqua;
}

#titulo{
    text-align: center;
    padding: 20px;
}

.html{
    background-color: orangered;
    padding: 20px;
}

.css{
    background-color: rgb(55, 55, 209);
    padding: 20px;
}

.git{
    background-color: blueviolet;
    padding: 20px;
}

.javascript{
    background-color: yellow;
    padding: 20px;
}

.amarelo{
    background-color: yellow;
    width: 150px;
    height: 100px;
    border: 1px solid red;
}

#flex {
    display: flex;
}